{% extends "base.html" %}
{% block content%}
<div class="row card">
  <h3 class="card-header text-center">chandan sharma <a href="{% url "account:edit" %}"><small class="float-right mt-0">edit</small></a></h3>
  <div class="bg-info d-inline card " style="width:150px; height:150px; margin-top:10px; margin-left:40%;">
    <img class="" src="chandan.jpg" alt="profile_image">
    <p> <strong>Profile Pic</strong> </p>
  </div>
  <div class=" card card-body mt-1 bg-info m-1" >
        <p>Name:</p>
        <p>Email:</p>
        <p>Phone No:</p>
        <p>Working Organisation/College:</p>
        <p>Blog Username:</p>
  </div>
</div>
<!-- Contribution block -->
<div class="row card">
  <div class="card-header text-center">
    <h3>Contribution</h3>
  </div>
  <div class="card-body">
    <div class="row ">
      <div class="card bg-info d-inline" style="width:150px; height:150px;">

      </div>
      <div class=" card bg-info d-inline" style="width:150px; height:150px; margin-left:5px;">
           <p class="card-body">Total No of Blog</p>
      </div>
  </div>

  </div>

</div>


<!---Most like -->
<div class="row card">
    <div class="card-header text-center">
      <h3>Most Liked Posts</h3>
    </div>
      <div class="card-body">
        <p></p>

      </div>


</div>

{% endblock %}
